:root {
    --darkviolet: hsl(256, 26%, 20%);
    --grayishblue: hsl(216, 30%, 68%);
    --verydarkviolet: hsl(270, 9%, 17%);
    --darkgrayishviolet: hsl(273, 4%, 51%);
    --verylightgray: hsl(0, 0%, 98%);
    --greyline: hsl(0, 0%, 85%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* font-family: 'DM Serif Display', serif; 
    - Font size: 16px*/
    font-family: 'Karla', sans-serif;
    min-width: 320px;
}

.header {
    width: 100%;
    height: 80px;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_menu {
    opacity: 0%;
}

main {
    width: 100%;
    height: auto;
}

.section1 {
    width: 100%;
    height: auto;
    background-color: var(--darkviolet);
    color: var(--verylightgray);
    margin-bottom: 150px;
}

.section1_picture {
    width: 100%;
    height: auto;
}

.section1_intro_img {
    width: 100%;
    height: 100%;
}

.section1_text {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.bg-pattern-intro-left {
    width: min-content;
    position: relative;
    top: -3px;
}

.bg-pattern-intro-right {
    width: min-content;
    position: relative;
    top: 214px;
    left: calc(100% - 124px);
}

.section1_hr {
    opacity: 0%;
}

.section1_h1 {
    max-width: 288px;
    margin: 0 auto;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    line-height: 50px;
    font-weight: 400;
    position: relative;
    top: -430px;
}

.section1_p {
    max-width: 288px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.45rem;
    font-weight: 400;
    line-height: 25px;
    position: relative;
    top: -420px;
}

.section1_button {
    padding: 12px 25px;
    background-color: var(--darkviolet);
    border:2px solid var(--verylightgray);
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: calc(50% - 66.225px);
    position: relative;
    bottom: 120px;
    color: var(--verylightgray);
    cursor: pointer;
    letter-spacing: 1px;
}

.section1_button:hover {
    background-color: var(--verylightgray);
    color: var(--darkviolet);
}

.section2 {
    width: 100%;
    height: auto;
}

.section2_hr {
    width: 30%;
    margin: 0 auto 30px;
    background-color: var(--darkviolet);
}

.section2_main_tittle {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 4rem;
    padding-bottom: 50px;
    color: var(--darkviolet);
}

.section2 article {
    width: 78%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section2_img {
    width: 60px;
    padding-bottom: 30px;
}

.section2_title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: 15px;
    color: var(--darkviolet);
}

.section2_p {
    font-weight: 400;
    font-size: 1.45rem;
    line-height: 20px;
    padding-bottom: 50px;
    color: var(--darkgrayishviolet);
}

.section3 {
    width: 100%;
    height: 350px;
    background-color: var(--darkviolet);
    margin-top: 80px;
}

.bg-pattern-how-we-work {
    position: relative;
    left: calc(100% - 176px);
}

.section3_h1 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 4.5rem;
    padding: 0 20px;
    color: var(--verylightgray);
    line-height: 50px;
    position: relative;
    top: -250px;
}

.section3_button {
    padding: 10px 20px;
    background-color: var(--darkviolet);
    border:2px solid var(--verylightgray);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: calc(50% - 91.33px);
    letter-spacing: 2px;
    color: var(--verylightgray);
    cursor: pointer;
    position: relative;
    top: -215px;
}

.section3_button:hover {
    background-color: var(--verylightgray);
    color: var(--darkviolet);
}

footer {
    width: 100%;
    height: auto;
    margin: 100px auto 20px;
    background-color: var(--verylightgray);
}

.linksection {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bg-pattern-footer {
    width: 100%;
    z-index: 0;
}

.logo_linksection {
    z-index: 1;
    position: relative;
    top: -90px;
}

.socialmedia_linksection {
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
}

.a_icon {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.fab:hover {
    color: var(--verydarkviolet);
}

.fab {
    color: var(--darkgrayishviolet);
    font-size: 30px;
    z-index: 1;
}

.linksection_hr {
    width: 90%;
}

.socialmedia_linksection img {
    padding: 30px 7px 20px;
}

.services {
    padding: 10px 0 30px;
    width: 100%;
    height: auto;
}

.our_company, .help_me, .contact, .others {
    margin: 10px 0;
    text-align: center;
}

.tittle {
    padding: 20px 0 20px;
    color: var(--darkgrayishviolet);
    font-size: 1.3rem;
    font-weight: 700;
}

.tittle_list {
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle_list a {
    text-decoration: none;
    color: var(--darkviolet);
    margin-bottom: 10px;
}

.tittle_list a:hover {
    border-bottom: 1px solid var(--darkviolet);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 425px) {
    .bg-pattern-footer {
        width: 425px;
    }
}