.header {
    height: 60px;
}

.nav {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 20% 50%;
}

.icon-hamburger {
    opacity: 0%;
}

.nav_menu {
    width: 90%;
    margin: 0 auto;
    grid-area: 1 / 3 / 2 / 4;
    opacity: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav_menu li {
    list-style: none;
}

.nav_menu_list {
    text-decoration: none;
    padding: 5px 11px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--darkgrayishviolet);
}

.nav_menu_list:hover {
    color: var(--verydarkviolet);
}

.plans {
    color: var(--darkgrayishviolet);
    border: 1px solid var(--darkgrayishviolet);
}

.plans:hover {
    color: var(--verylightgray);
    background-color: var(--verydarkviolet);
}

.section1 {
    width: 100%;
    height: 275px;
}

.bg-pattern-intro-left {
    width: 100px;
    top: -95px;
}

.bg-pattern-intro-right {
    width: 180px;
    top: -650px;
    left: -55px;
}

.section1_intro_img {
    width: 30%;
    height: auto;
    position: relative;
    top: 65px;
    left: 475px;
}

.section1_hr {
    opacity: 100%;
    margin-left: calc(13%);
    width: 60px;
    position: relative;
    top: -720px;
    color: var(--verylightgray);
}

.section1_h1 {
    max-width: 200px;
    margin: 0;
    top: -700px;
    text-align: left;
    font-size: 2.75rem;
    line-height: 25px;
    margin-left: calc(13%);
}

.section1_p {
    max-width: 360px;
    margin: 0;
    top: -690px;
    text-align: left;
    font-size: 1.05rem;
    line-height: 15px;
    margin-left: calc(13%);
}

.section1_button {
    font-size: 0.7rem;
    top: -570px;
    margin-left: calc(13%);
    padding: 6px 15px;
    border:1px solid var(--verylightgray);
}

.section2_hr {
    margin-left: calc(13%);
    width: 60px;
}

.section2_main_tittle {
    margin-left: calc(13%);
    text-align: left;
    font-size: 2.75rem;
    padding-bottom: 25px;
}

.section2_articles {
    width: 79%;
    height: auto;
    margin-left: calc(13%);
    margin-right: calc(8%);
    display: flex;
    justify-content: space-between;
}

.section2_articles article {
    width: 196px;
    height: auto;
    margin: 0;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.section2_img {
    width: 40px;
    padding-bottom: 15px;
}

.section2_title {
    font-size: 1.5rem;
}

.section2_p {
    font-size: 0.9rem;
    padding-bottom: 0;
}

.section3 {
    width: 79%;
    height: 104.84px;
    margin-left: calc(13%);
    margin-top: 60px;
}

.bg-pattern-how-we-work {
    width: 30%;
    left: calc(100% - 182.02px);
}

.section3_h1 {
    width: 260px;
    font-size: 2.5rem;
    top: -80px;
    text-align: left;
    padding: 0 0 0 40px;
    line-height: 25px;
}

.section3_button {
    font-size: 0.7rem;
    padding: 6px 10px;
    margin: 0;
    top: -120px;
    left: 490px;
    letter-spacing: 1px;
}

.linksection {
    height: 70px;
    flex-direction: row;
    justify-content: center;
}

.bg-pattern-footer {
    width: 65%;
    height: auto;
    position: relative;
    top: 36px;
    z-index: 0;
}

.logo_linksection {
    position: relative;
    top: 0;
    right: calc(61% - 112px);
}

.socialmedia_linksection {
    display: flex;
    justify-content: center;
    top: 0;
    left: -50px;
}

.linksection_hr {
    width: 79%;
    margin-left: calc(13%);
}

.services {
    width: 79%;
    margin-left: calc(13%);
    display: flex;
    justify-content: flex-start;
}

.service {
    margin-right: 80px;
}

.tittle {
    text-align: left;
    font-size: 1rem;
}

.tittle_list {
    align-items: flex-start;
    font-size: 1rem;
}